
<div [ngSwitch]="destinations" class="aboutCity">
  <div *ngSwitchCase="'stockholm'">
     <h3>Stockholm</h3>
     <p>Very expensive and cold</p>
  </div>
  <div *ngSwitchCase="'paris'">
     <h3>Paris</h3>
     <p>Good wine and culture but expensive food</p>
  </div>
  <div *ngSwitchCase="'prague'">
     <h3>Prague</h3>
     <p>Cheap beer and food, amazing architecture</p>
  </div>
  <div *ngSwitchCase="'berlin'">
     <h3>Berlin</h3>
     <p>Cheap beer and one can smoke indoors</p>
  </div>
  <div *ngSwitchDefault>
     <p>Select the city you would like to go to</p>
  </div>
</div>
